<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title> Ionic HealthKit </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-button expand="block" (click)="getPermissions()">
    Get Permissions
  </ion-button>
  <ion-button expand="block" (click)="loadEnergyBurned()">
    Get Energy Burned
  </ion-button>
  <ion-button expand="block" (click)="loadWeight()"> Get Weight </ion-button>

  <ion-item>
    <ion-label stacked>Current Weight</ion-label>
    <ion-input type="text" [(ngModel)]="weight" readonly></ion-input>
  </ion-item>
  <ion-item>
    <ion-label stacked>Energy Burned</ion-label>
    <ion-input type="text" [(ngModel)]="calories" readonly></ion-input>
  </ion-item>
</ion-content>
